@charset "utf-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
button{
	cursor: pointer;
}
:root{
	--background: rgb(62,55,98);
	--contain: rgb(72,65,106);
	--background2: rgb(34,31,52);
	--box-shadow: 0 2px 7px black;
	--hover: rgb(55,48,87);
	--text-hover: rgb(219,96,143);
	--text: rgb(6,35,95);
	--text2: rgb(219, 96, 143);
    --text3: rgb(104,71,158);
	--text4: rgb(160,160,159);
	--btnyellow: rgb(255,196,57);
}

