@charset "utf-8";
.main-product-detail-contain{
	padding: 5% 20% 0 20%;
	display: flex;
	box-sizing: border-box;
}
.image-description{
	width: 50%;
	padding: 20px 10px;
}
.image-description img{
	width: 100%;
	margin-bottom: 10px;
}
.select-policy{
	padding: 20px 10px;
}
.product-detail-name h4{
	font-size: 18px;
	padding-bottom: 10px;
	color: rgb(6,35,95);
}
.product-detail-price{
	font-size: 18px;
	padding-bottom: 10px;
	color: rgb(219, 96, 143);
	font: bold;
	
}
.product-detail-quantity{
	padding-bottom: 10px;
}
.product-detail-quantity p{
	font-size: 18px;
	color: rgb(6,35,95);
	padding-bottom: 5px;
}
.product-detail-quantity input{
	text-align: center;
	font-size: 18px;
	width: 80px;
	height: 40px;
	border: 1px solid gray;
}
.product-detail-btn{
	padding-bottom: 10px;
}
.product-detail-btn-add-cart{
	width: 300px;
	height: 40px;
	background: rgb(219, 96, 143);
	color: white;
	border-radius: 10px;
	border: none;
	font-size: 15px;
	font: bolder;
	font-weight: 700; 
	transition: 0.3s;
}
.product-detail-btn-add-cart:hover{
	background: rgb(219, 96, 143,0.5);
}
.product-detail-btn-love{
	width: 40px;
	height: 40px;
	background: rgb(219, 96, 143);
	color: white;
	border-radius: 10px;
	border: none;
	font-size: 15px;
	font: bolder;
	font-weight: 700;
	transition: 0.3s;
}
.product-detail-btn-love:hover{
	background: rgb(219, 96, 143,0.5);
}
.product-detail-information-policy{
	padding-bottom: 30px;
	font-size: 16px;
	font: bold;
	font-weight: 700;
	text-transform: uppercase;
	
}
.select-policy hr{
	border-top: 1px solid rgb(219, 96, 143);
}
.select-policy .decoration  .fa-facebook{
	color: rgba(0,25,131,1.00);
}
.select-policy .decoration  .fa-twitter{
	color: aqua;
}
.select-policy .decoration  .fa-tiktok{
	color: black;
}
.select-policy .decoration  .fa-instagram{
	color: white;
	background: linear-gradient(to right,lightyellow,red, yellow, purple, blue);
	
}
.main-product-detail-contain2{
	padding: 0 20% 2% 20%;
	box-sizing: border-box;
	min-width: 1500px;
}
.relative-product-heading h3{
	font-size: 24px;
	font: bold;
	font-weight: 700;
	color: rgb(104,71,158);
}
.relative-product-grid{
	display: grid;
  	grid-template-columns: auto auto auto auto;
	padding: 0 10%;
	column-gap: 10px;
}























